In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
#tickers
tickers = ['ABCB4.SA', 'AZUL4.SA', 'BBAS3.SA', 'BBDC4.SA', 'BRDT3.SA', 'BRSR6.SA', 'CARD3.SA', 'CCRO3.SA', 'COGN3.SA', 'EGIE3.SA', 'EZTC3.SA', 'ITSA4.SA', 'JHSF3.SA', 'LCAM3.SA', 'LEVE3.SA', 'MEAL3.SA', 'MOVI3.SA', 'OIBR3.SA', 'PRIO3.SA', 'RAIL3.SA', 'SAPR11.SA', 'SCAR3.SA', 'SHUL4.SA', 'TAEE11.SA', 'TECN3.SA', 'TRPL4.SA', 'VIVT4.SA', 'VULC3.SA', 'VVAR3.SA']
#weight for each ticker
weights = np.array([0.02265560139, 0.0132791836, 0.06057895305, 0.07859779156, 0.02740391553, 0.02278396174, 0.05603031056, 0.01114239131, 0.02005375752, 0.02545064797, 0.06173348307, 0.06291185143, 0.01239925304, 0.07201550349, 0.03689840447, 0.00921953292, 0.0765272169, 0.003226836522, 0.06523201566, 0.004714186584, 0.03826360845, 0.01533829752, 0.04457771508, 0.03268095205, 0.003309608572, 0.02472036927, 0.02514528278, 0.01688804497, 0.05622132299])

In [3]:
#get data in yahoo finance
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t]=wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [4]:
sec_data.tail()

,ABCB4.SA,AZUL4.SA,BBAS3.SA,BBDC4.SA,BRDT3.SA,BRSR6.SA,CARD3.SA,CCRO3.SA,COGN3.SA,EGIE3.SA,...,RAIL3.SA,SAPR11.SA,SCAR3.SA,SHUL4.SA,TAEE11.SA,TECN3.SA,TRPL4.SA,VIVT4.SA,VULC3.SA,VVAR3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2020-11-17,14.05,32.849998,34.200001,25.400000,21.690001,12.81,13.80,12.63,4.87,45.740002,...,18.799999,25.049999,39.680000,12.282223,32.049999,1.14,26.549999,NaN,6.98,17.870001
2020-11-18,14.00,34.299999,34.279999,24.620001,21.180000,12.75,13.83,12.62,5.13,44.700001,...,18.370001,25.170000,40.200001,12.150000,32.419998,1.13,26.309999,NaN,6.83,17.620001
2020-11-19,13.84,35.680000,34.619999,24.639999,21.010000,12.78,14.00,12.70,4.98,44.009998,...,18.600000,24.719999,40.500000,12.250000,32.900002,1.11,26.440001,NaN,6.93,17.940001
2020-11-23,13.98,35.619999,34.520000,24.480000,20.350000,12.89,14.57,12.30,5.04,43.009998,...,19.200001,24.850000,43.880001,12.200000,32.270000,1.14,26.430000,NaN,6.88,17.799999
2020-11-24,14.46,35.860001,35.820000,25.830000,21.090000,13.42,14.45,12.90,5.04,42.930000,...,19.530001,25.090000,43.799999,12.720000,32.549999,1.15,26.650000,NaN,7.10,17.879999

In [5]:
sec_data.head()

,ABCB4.SA,AZUL4.SA,BBAS3.SA,BBDC4.SA,BRDT3.SA,BRSR6.SA,CARD3.SA,CCRO3.SA,COGN3.SA,EGIE3.SA,...,RAIL3.SA,SAPR11.SA,SCAR3.SA,SHUL4.SA,TAEE11.SA,TECN3.SA,TRPL4.SA,VIVT4.SA,VULC3.SA,VVAR3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2007-09-26,6.271255,NaN,15.925868,NaN,NaN,NaN,5.643761,3.147112,NaN,8.384393,...,NaN,NaN,17.250221,2.480642,NaN,NaN,1.152557,24.403425,10.326536,6.079909
2007-09-27,6.271255,NaN,16.571508,NaN,NaN,NaN,5.614965,3.208475,NaN,8.237939,...,NaN,NaN,17.489101,2.481305,NaN,NaN,1.173204,24.225153,10.795923,6.079909
2007-09-28,6.363449,NaN,16.619928,NaN,NaN,NaN,5.614965,3.234775,NaN,8.256249,...,NaN,NaN,18.768795,3.464563,NaN,NaN,1.155424,24.165726,10.795923,7.093233
2007-10-01,6.432593,NaN,16.899712,NaN,NaN,NaN,5.974900,3.393445,NaN,8.468601,...,NaN,NaN,19.195354,2.474682,NaN,NaN,4.679345,23.420946,9.387760,7.093233
2007-10-02,6.423385,NaN,17.190252,NaN,NaN,NaN,6.010892,3.340847,NaN,8.680961,...,NaN,NaN,19.169758,2.474682,NaN,NaN,4.604144,23.531889,9.387760,7.093233

In [6]:
sec_returns = np.log(sec_data/sec_data.shift(1)) #retorno logaritmico
sec_returns

,ABCB4.SA,AZUL4.SA,BBAS3.SA,BBDC4.SA,BRDT3.SA,BRSR6.SA,CARD3.SA,CCRO3.SA,COGN3.SA,EGIE3.SA,...,RAIL3.SA,SAPR11.SA,SCAR3.SA,SHUL4.SA,TAEE11.SA,TECN3.SA,TRPL4.SA,VIVT4.SA,VULC3.SA,VVAR3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2007-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-09-27,0.000000,NaN,0.039740,NaN,NaN,NaN,-0.005115,0.019311,NaN,-0.017622,...,NaN,NaN,0.013753,0.000267,NaN,NaN,0.017755,-0.007332,0.044452,0.000000
2007-09-28,0.014594,NaN,0.002918,NaN,NaN,NaN,0.000000,0.008163,NaN,0.002220,...,NaN,NaN,0.070618,0.333802,NaN,NaN,-0.015270,-0.002456,0.000000,0.154151
2007-10-01,0.010807,NaN,0.016694,NaN,NaN,NaN,0.062132,0.047886,NaN,0.025395,...,NaN,NaN,0.022473,-0.336474,NaN,NaN,1.398690,-0.031305,-0.139762,0.000000
2007-10-02,-0.001433,NaN,0.017046,NaN,NaN,NaN,0.006006,-0.015621,NaN,0.024767,...,NaN,NaN,-0.001334,0.000000,NaN,NaN,-0.016201,0.004726,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-17,-0.006385,0.021539,0.014573,0.005527,-0.008265,0.017323,-0.016529,0.030549,0.024949,0.047687,...,-0.006891,0.012857,0.004547,-0.011263,0.002247,0.000000,-0.001882,NaN,-0.007138,0.002802
2020-11-18,-0.003565,0.043194,0.002336,-0.031190,-0.023794,-0.004695,0.002172,-0.000792,0.052012,-0.023000,...,-0.023138,0.004779,0.013020,-0.010824,0.011478,-0.008811,-0.009081,NaN,-0.021724,-0.014089
2020-11-19,-0.011494,0.039445,0.009869,0.000812,-0.008059,0.002350,0.012217,0.006319,-0.029676,-0.015557,...,0.012443,-0.018040,0.007435,0.008197,0.014697,-0.017858,0.004929,NaN,0.014535,0.017998
2020-11-23,0.010065,-0.001683,-0.002893,-0.006515,-0.031918,0.008570,0.039907,-0.032003,0.011976,-0.022984,...,0.031749,0.005245,0.080157,-0.004090,-0.019335,0.026668,-0.000378,NaN,-0.007241,-0.007834
2020-11-24,0.033759,0.006715,0.036968,0.053680,0.035718,0.040294,-0.008270,0.047628,0.000000,-0.001862,...,0.017041,0.009612,-0.001825,0.041740,0.008639,0.008734,0.008289,NaN,0.031476,0.004484

In [7]:
#variancia do portfolio anualizada
port_variance = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
port_variance

0.14863854059033482

In [8]:
#volatilidade do portfolio
port_vol = (np.dot(weights.T, np.dot(sec_returns.cov()*250, weights)))**0.5
print('Volatilidade do portfolio= '+ str(round(port_vol, 5)*100)+' %')

Volatilidade do portfolio= 38.554 %